trigger:
  - master

pr:
  - master

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.8"
    displayName: "Provision Python interpreter"
  - bash: scripts/check
    displayName: "Run checks"
